<div id="search_result_icon_<%=spotify_id%>" class="p-2 h-8 w-8 rounded-full flex items-center justify-center">
    <%= button_tag type: "submit", aria: { label: "add song" }, data: { turbo_stream: true }, value: "home" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    <% end %>
</div>