<div id="search_result_icon_<%=spotify_id%>" class="p-4 h-8 w-8 rounded-full flex items-center justify-center">
    <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
</div>