<div id="search_result_icon_<%= spotify_id %>" class="mt-2 h-4 w-8 rounded-full flex items-end justify-center">
  <div class="animation-ctn">
    <div class="icon icon--order-success svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 154" width="28" height="28">
        <g fill="none" stroke="#000" stroke-width="4">
          <polyline class="st0" stroke="#000" stroke-width="7" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;"/>   
        </g> 
      </svg>
    </div>
  </div>
</div>