
<div data-controller="modal" id="search_popover" class="rounded-lg shadow-2xl absolute top-20 right-4 sm:right-24 w-80 sm:w-96 bg-white border-[1px] border-gray-100 px-4 py-4">
	<div class="flex flex-col gap-2 items-center py-8">
		<div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-gray-900"></div>
		<p class="text-center text-gray-900 font-medium mt-4">Loading...</p>	
	</div>
</div>


