<%= render layout: "layouts/page" do %>
	<%= render "shared/page_head", is_label: false, is_archives: false, hide_search: true, title: "Admin", hide_selector: true, user: current_user %>
	<h2 class="text-xl">Users</h2>
	<div class="mt-8 flex flex-col">
	  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
			  <table class="min-w-full divide-y divide-gray-300">
			    <thead>
			      <tr>
			        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-black sm:pl-6 md:pl-0">Email</th>
			        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-black sm:pl-6 md:pl-0">Role</th>
			      </tr>
			    </thead>
			    <tbody id="user_table" class="divide-y divide-gray-200">
						<%= render @label_users %>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
<% end %>