<table class="min-w-full divide-y divide-gray-300">
	<thead>
		<tr>
			<th class="text-left font-medium text-sm pb-2">City</th>
			<th class="text-left font-medium text-sm pb-2">Country</th>
			<th class="text-left font-medium text-sm pb-2">Listeners</th>
		</tr>
	</thead>
	<tbody>
		<% artist.geographies.each do |geography| %>
			<tr>
				<td class="py-4">
						<%= geography.city %>
				</td>
				<td class="px-1 py-4">
						<%= geography.country %>
				</td>
				<td class="px-1 py-4">
						<%= number_with_delimiter(geography.listeners) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>