<%= render layout: "layouts/page" do %>
	<%= render "shared/page_head", is_label: false, is_archives: false, hide_search: true, title: "Admin tools", hide_selector: true %>
	<div>Here are your admintools: </div>
<% end %>