<div id="archives"> 
	<table class="min-w-full divide-y divide-gray-300">
		<thead>
			<tr>
				<th class="<%= archives_table_classes(:name)%>">Song</th>
				<th class="<%= archives_table_classes(:artist)%>">Artist</th>
				<% if is_label %>
					<th class="<%= archives_table_classes(:added_by) %>">
						Added by
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody id="table" class="divide-y divide-gray-200">
			<% if songs.empty? then %>
				<tr><td><div class="mt-4">No archives</div></td></tr>
			<% else %>
				<% songs.each do |song| %>
					<%= render "songs/archived_song", user: user, song: song, is_label: is_label %>
				<% end %>
			<% end %> 
		</tbody>
	</table>
</div>
