<td class="whitespace-nowrap py-4 px-3 h-full", id="genres_song_<%=song.id%>">
  <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 animate-spin mx-auto">
		<path d="M100 50C100 41.1995 97.6772 32.5548 93.2663 24.9395C88.8554 17.3242 82.5126 11.008 74.8789 6.62904C67.2452 2.25009 58.5909 -0.0364491 49.7904 0.000439242C40.99 0.0373276 32.3552 2.39634 24.7584 6.83913L30.5132 16.6794C36.378 13.2495 43.0442 11.4283 49.8382 11.3998C56.6322 11.3713 63.3134 13.1366 69.2068 16.5172C75.1001 19.8978 79.9968 24.7739 83.402 30.6531C86.8073 36.5322 88.6005 43.2059 88.6005 50H100Z" fill="black"/>
		<path d="M0 50C-7.69366e-07 58.8005 2.32279 67.4451 6.7337 75.0605C11.1446 82.6758 17.4874 88.992 25.1211 93.371C32.7548 97.7499 41.4091 100.036 50.2096 99.9996C59.01 99.9627 67.6448 97.6037 75.2416 93.1609L69.4868 83.3206C63.622 86.7505 56.9558 88.5717 50.1618 88.6002C43.3678 88.6287 36.6866 86.8634 30.7932 83.4828C24.8999 80.1022 20.0032 75.2261 16.598 69.3469C13.1927 63.4678 11.3995 56.7941 11.3995 50L0 50Z" fill="black"/>
	</svg> 
</td>
