
<div class="flex flex-col gap-4 items-start">
	<%= button_to "Personal", is_archives ? archives_path : root_path, class: "font-medium transition hover:text-black #{is_label ? "text-slate-400" : "text-black"}", aria: { label: "your leaderboard"}, data: { turbo_frame: "page", turbo_action: "advance" }, method: :get %> 
	<%= button_to "Label", is_archives ? label_archives_path : label_leaderboard_path, class: "text-black font-medium transition hover:text-black  #{is_label ? "text-black" : "text-slate-400"}", aria: { label: "label leaderboard"}, data: { turbo_frame: "page", turbo_action: "advance" }, method: :get %> 
</div>
