<%= render layout: "layouts/page" do %>
	<%= render "shared/page_head", is_label: true, is_archives: true, hide_search: true, title: "Archives", hide_selector: false %>
	<div class="mt-8 flex flex-col">
		<div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
	  		<%= render "songs/archived_songs", songs: @songs, is_label: true %>
			</div>
		</div>
	</div> 
<% end %>