<%= turbo_frame_tag "reset_password_button" do %>
	<div class="flex flex-col gap-1">
		<p class="font-semibold text-green-700">Check your inbox for reset instructions</p>
		<p class="text-gray-600 text-sm">(And check spam if you can't find them)</p>
	</div>
<%end %>