/* Container box to set the sides relative to */
.selector {
    line-height: 62px;
}

.cube {
    width: 15%;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    padding: 5px;
}

.flippety,
.flop {
    r-radius: 5px;
    height: 50%;
    width: 100%;
}

.flippety {
    transform: translateZ(25px);
}

.flop {
    transform: rotateX(-90deg) translateZ(-25px);
}

.cube:hover {
    transform: rotateX(90deg);
}