/* Container box to set the sides relative to */
.selector {
  line-height: 62px;
}

.cube {
  text-align: center;
  height: 48px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flippety,
.flop {
  r-radius: 5px;
  height: 50%;
  width: 100%;
}

.flippety {
  transform: translateZ(25px);
}

.flop {
  transform: rotateX(-90deg) translateZ(-25px);
}

.cube:hover {
  transform: rotateX(90deg);
}



/* tick  */
.animation-ctn {
  text-align: center;
  margin-top: 5em;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 0px
  }
}

.inlinesvg .svg svg {
  display: inline
}

.icon--order-success svg polyline {
  animation: checkmark 0.1s ease-in-out 0.25s backwards
}