body {
  background-color: #fefefe;
}

.animate-element-in {
  animation: fade-in 0.4s ease-out, slide-in 0.4s ease-out;
}

.animate-element-out {
  animation: fade-out 0.2s ease-out, slide-out 0.5s ease-out;
}

.animate-popover-out {
  animation: popover-out 0.3s ease-in-out;
}

@keyframes popover-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.search-result {
  /* initial position of the row */
  transform: translateY(-50px);
  opacity: 0;
  animation-name: search-result-anim;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.search-result.search-result-0 {
  animation-delay: 0.04s;
}

.search-result.search-result-1 {
  animation-delay: 0.08s;
}

.search-result.search-result-2 {
  animation-delay: 0.12s;
}

.search-result.search-result-3 {
  animation-delay: 0.16s;
}

.search-result.search-result-4 {
  animation-delay: 0.2s;
}

.search-result.search-result-5 {
  animation-delay: 0.24s;
}

/* and so on, for as many search results as you have */
@keyframes search-result-anim {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(1.01);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Add more nth-child selectors and delay values as needed for more items */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-4rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(8rem);
  }
}

@keyframes slide-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 3rem;
  }
}

@keyframes slide-up {
  from {
    max-height: 3rem;
  }

  to {
    max-height: 0;
  }
}

@keyframes bg-color-in {
  from {
    background-color: #ffffff;
    /* initial background color */
  }

  to {
    background-color: #2d2d2d;
    /* target background color */
  }
}

.hover\:text-white:hover {
  color: white !important;
}
