body {
  background-color: #fefefe;
}

.fade-in {
  animation: fade-in 0.4s ease-out;
}

.fade-out {
  animation: fade-out 0.4s ease-out;
}


.animate-popover-out {
  animation: popover-out 0.3s ease-in-out;
}

.animate-table-in {
  animation: fade-in 0.2s ease-out
}

.animate-table-out {
  animation: fade-out 0.2s ease-out
}

.animate-table-down {
  animation: slide-down 0.1s ease-out;
}



@keyframes popover-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.search-result {
  /* initial position of the row */
  transform: translateY(-50px);
  opacity: 0;
  animation-name: search-result-anim;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.search-result.search-result-0 {
  animation-delay: 0.01s
}


.shimmer {
  color: grey;
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 0.5s infinite;
  font-size: 50px;
  max-width: 200px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left
  }
}

/* and so on, for as many search results as you have */
@keyframes search-result-anim {
  0% {
    opacity: 0;
    transform: translateY(-2px) scale(1.01);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Add more nth-child selectors and delay values as needed for more items */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-2rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4rem);
  }
}

@keyframes slide-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 3rem;
  }
}

@keyframes slide-up {
  from {
    max-height: 3rem;
  }

  to {
    max-height: 0;
  }
}

@keyframes bg-color-in {
  from {
    background-color: #ffffff;
    /* initial background color */
  }

  to {
    background-color: #2d2d2d;
    /* target background color */
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}


.hover\:text-white:hover {
  color: white !important;
}