<div class="flex flex-col gap-4 w-screen text-center items-center justify-center">
	<h1 class="text-4xl">Searchlight</h1>
	
	<p>Hello <%= @resource.email %>!</p>

	<p>We're contacting you to notify you that your password has been changed.</p>
</div>